import matplotlib.pyplot as plt

fig = plt.figure()
ax = fig.add_axes([0.15,0.75, 0.7,0.25])
ax.set_facecolor("#FFCC99")
ax = fig.add_axes([0.4,0.0, 0.2,0.75])
ax.set_facecolor("#FFCC99")
ax = fig.add_axes([0.4,0.001, 0.2,0.2])
ax.set_facecolor("#900020")
ax = fig.add_axes([0.15,0.75, 0.7,0.1])
ax.set_facecolor("#4D220E")
ax = fig.add_axes([0.49,0.001, 0.02,0.1])
ax.set_facecolor("#FF2400")
plt.show()
